@model IEnumerable<EnerProf.Models.Model>

@{
    ViewBag.Title = "models";
}



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "model", new { model_id=item.Id, product_id = item.Product.Id}) |
            @Html.ActionLink("Delete", "DeleteModel", new { model_id=item.Id, product_id = item.Product.Id })
        </td>
    </tr>
}

</table>
        @*<a href="/Admin/models">Все модели</a><br />
    @foreach (var item in ViewBag.Products)
    {
        <a href="/Admin/models?product_id=@item.Id">@item.Name</a><br />
    }*@
